* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

section {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #cccccc;
  margin: 10px 5px 0px 5px;
}

h2 {
  margin-top: 10px;
  text-indent: 10px;
}

h3 {
  margin-right: 3px;
  text-indent: 10px;
}

img {
  border: 1px solid #000000;
  border-radius: 50%;
}

li {
  list-style-type: none;
  font-size: 110%;
  margin-left: 4px;
}

i {
  color: #1462e0;
}

p {
  font-size: 110%;
  margin-left: 4px;
}

footer {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #cccccc;
  width: 1014px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

div.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1024px;
  margin: 0px auto;
}

section.profile {
  width: 30%;
}

section.information {
  width: 70%;
}

div.avatar {
  display: flex;
  justify-content: center;
}

.name h2 {
  text-align: center;
}

li.phone-number {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.email {
  margin-bottom: 10px;
}

a.email-link {
  font-size: 120%;
  margin-left: 20px;
  text-decoration-line: none;
  color: black;
}

.information h3 {
  margin-top: 6px;
}

.information h2 {
  border-top: 1px solid black;
  padding-top: 3px;
}

.information h2.about-me {
  border: 0;
}

.skills-line {
  margin-left: 20px;
  width: 72%;
}

.skills-name > ul > li {
  margin-top: 14px;
}

.skills-bars {
  display: flex;
  flex-direction: row;
}

.line {
  width: 400px;
  margin-top: 24px;
  background: orange;
	height: 10px;
}

.line > div {
	background: #1462e0;
	height: 10px;
}

.html {
  width: 60%;
}

.css {
  width: 40%;
}

.js {
  width: 40%;
}

.git {
  width: 60%;
}

.attention {
  width: 75%;
}