* {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

div.page {
  display: flex;
  flex-direction: row;
}

section {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #cccccc;
}